/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */


.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #eaebec;
/*	opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.top-navigation img {
	opacity: 1.5;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 1em;
	margin-top: 1em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1em;
	margin-top: 1em;
}

.top-navigation .links li:hover {
	 color: #BCA659;
}

.top-navigation img {
	max-width: 40px;
	padding: 0.5em 0 0.5em 0;
	border: 1px solid white;
	border-radius: 25%;

}

.gui-blurb {
	background-image: url("https://unsplash.imgix.net/27/perspective.jpg?q=75&fm=jpg&s=cc50e0e3c4f7ca503f71c2700f583096");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30rem;
	overflow: auto;
}
.portfolio {
	margin-top: 3rem;
}
.gui-blurb h1 {
	text-align: center;
	font-size: 4em;
/*	color: #422B56;*/
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 1em;
	font-family: 'Cabin', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
	color: #BCA659;

}

.content {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;
}

.image-text {
	margin-bottom: 2em;
	padding: 1em;
	display: inline-block;
	border: 1px solid black;
}

.image-text img {
	height: auto;
	max-width: 300px;
	margin-right: 1em;
	border: 2px solid gray;
	border-radius: 20px;
}

.block-text {
	padding: 0;
	border: 1px solid red;
}

.image-text h3,
.image-text p,
.image-text a, 
.gui-blurb p {
	padding: 0 1em;
	font-family: 'Cabin', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin-bottom: 1rem;
}

.image-text h3 {
	font-size: 2em;
	font-weight: 800;
	padding-left: 1rem;
}

.image-text p,
.image-text a,
.gui-blurb p {
	font-size: 1.2em;
	letter-spacing: 0.02rem;
	line-height: 120%;
}

.content h2 {
	text-align: left;
	font-size: 2em;
	color: black;
	margin: 0 auto
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: 'Cabin', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
}

.gui-blurb p {
	padding: 1em;
	background-color: #E9F1E3;
	border-radius: 10px;
	opacity: 0.9;
    filter: alpha(opacity=90);
    color: #1A1226;
    font-weight: 500;
}

.content-footer {
    background-color: #1F152E;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    padding-top: 6em;
    padding-bottom: 10em;
    margin-bottom: -2em;
    color: white;
}

.content-footer p {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: 0.02rem;
}
.content-footer a {
  color: white;
  text-decoration: none;
}
.content-footer a:hover {
  color: #BCA659;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 40%;
  margin: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.social-icon {
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    font-color: white;
}
